In [1]:
import pandas as pd
import numpy as np

Ist =[[35,'portugal',94],[33,'Argentina',93],[30,'Brazil',92]]
col=['Age','Nationality','Overall']

df=pd.DataFrame(Ist,columns = ['Age','Nationality','Overall'],index = [1,2,3])
print(df)

   Age Nationality  Overall
1   35    portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [2]:
array =np.array([[94,89,63],
          [93,92,48],
        [92,94,56]])
print(array[:2,1:])

[[89 63]
 [92 48]]

In [3]:
S = [['him','sell'],[90,28,43]]
S[0][1][1]

'e'

In [4]:
my_tuple = (1,2,5,8)
my_tuple[2]=6 #this is a tupple cant perform this operation

TypeError: 'tuple' object does not support item assignment

In [5]:
Y = [(2,4),(7,8),(1,5,9)]
x = Y[1][1]
print(x)

8

In [6]:
url='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

fd_data = pd.read_csv(url, encoding= 'latin_1')
fd_data.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
fd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [9]:
fd_data.head(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
30,4,Algeria,2511,Wheat and products,5911,Export Quantity,1000 tonnes,3.00,7.00,6.00,10.00,17.00
31,4,Algeria,2511,Wheat and products,5301,Domestic supply quantity,1000 tonnes,9407.00,9780.00,9958.00,9987.00,10472.00
32,4,Algeria,2511,Wheat and products,5521,Feed,1000 tonnes,550.00,592.00,584.00,587.00,665.00
33,4,Algeria,2511,Wheat and products,5527,Seed,1000 tonnes,123.00,134.00,123.00,123.00,201.00
34,4,Algeria,2511,Wheat and products,5123,Losses,1000 tonnes,690.00,781.00,747.00,736.00,868.00
35,4,Algeria,2511,Wheat and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
36,4,Algeria,2511,Wheat and products,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
37,4,Algeria,2511,Wheat and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
38,4,Algeria,2511,Wheat and products,5142,Food,1000 tonnes,7258.00,7425.00,7670.00,7701.00,7795.00
39,4,Algeria,2511,Wheat and products,645,Food supply quantity (kg/capita/yr),kg,186.46,186.90,189.14,186.07,184.58
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.00,1435.00,1453.00,1430.00,1419.00
41,4,Algeria,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,43.20,43.33,43.85,43.18,42.85
42,4,Algeria,2511,Wheat and products,684,Fat supply quantity (g/capita/day),g/capita/day,5.39,5.31,5.37,5.25,5.12
43,4,Algeria,2805,Rice and products,5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
44,4,Algeria,2805,Rice and products,5611,Import Quantity,1000 tonnes,171.00,164.00,162.00,190.00,207.00
45,4,Algeria,2805,Rice and products,5072,Stock Variation,1000 tonnes,8.00,-2.00,-4.00,17.00,37.00
46,4,Algeria,2805,Rice and products,5911,Export Quantity,1000 tonnes,NaN,0.00,0.00,0.00,0.00
47,4,Algeria,2805,Rice and products,5301,Domestic supply quantity,1000 tonnes,163.00,166.00,167.00,173.00,170.00
48,4,Algeria,2805,Rice and products,5521,Feed,1000 tonnes,5.00,1.00,1.00,2.00,0.00
49,4,Algeria,2805,Rice and products,5527,Seed,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [11]:
fd_data.tail(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60893,181,Zimbabwe,2961,"Aquatic Products, Other",645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.00
60894,181,Zimbabwe,2961,"Aquatic Products, Other",664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60895,181,Zimbabwe,2961,"Aquatic Products, Other",674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60896,181,Zimbabwe,2961,"Aquatic Products, Other",684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60897,181,Zimbabwe,2769,"Aquatic Animals, Others",5611,Import Quantity,1000 tonnes,0.01,0.00,0.00,0.00,0.00
60898,181,Zimbabwe,2769,"Aquatic Animals, Others",5301,Domestic supply quantity,1000 tonnes,0.01,0.00,0.00,0.00,0.00
60899,181,Zimbabwe,2769,"Aquatic Animals, Others",5154,Other uses (non-food),1000 tonnes,0.00,0.00,0.00,0.00,0.00
60900,181,Zimbabwe,2769,"Aquatic Animals, Others",5142,Food,1000 tonnes,0.01,0.00,0.00,0.00,0.00
60901,181,Zimbabwe,2769,"Aquatic Animals, Others",645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.00
60902,181,Zimbabwe,2769,"Aquatic Animals, Others",664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60903,181,Zimbabwe,2769,"Aquatic Animals, Others",674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60904,181,Zimbabwe,2769,"Aquatic Animals, Others",684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60905,181,Zimbabwe,2775,Aquatic Plants,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60906,181,Zimbabwe,2775,Aquatic Plants,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60907,181,Zimbabwe,2775,Aquatic Plants,5154,Other uses (non-food),1000 tonnes,0.00,0.00,0.00,0.00,0.00
60908,181,Zimbabwe,2775,Aquatic Plants,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60909,181,Zimbabwe,2775,Aquatic Plants,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.00
60910,181,Zimbabwe,2775,Aquatic Plants,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60911,181,Zimbabwe,2775,Aquatic Plants,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60912,181,Zimbabwe,2775,Aquatic Plants,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60913,181,Zimbabwe,2928,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,34.00,15.00,16.00
60914,181,Zimbabwe,2928,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60915,181,Zimbabwe,2928,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,1.00,1.00,1.00
60916,181,Zimbabwe,2928,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,41.00,46.00,33.00,19.00,16.00
60917,181,Zimbabwe,2928,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60918,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60919,181,Zimbabwe,2928,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.34,1.09
60920,181,Zimbabwe,2928,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,2.00,1.00
60921,181,Zimbabwe,2928,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.05,0.04
60922,181,Zimbabwe,2928,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.02
60923,181,Zimbabwe,2680,Infant food,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60924,181,Zimbabwe,2680,Infant food,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60925,181,Zimbabwe,2680,Infant food,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60926,181,Zimbabwe,2680,Infant food,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60927,181,Zimbabwe,2680,Infant food,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60928,181,Zimbabwe,2680,Infant food,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60929,181,Zimbabwe,2680,Infant food,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.01
60930,181,Zimbabwe,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60931,181,Zimbabwe,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60932,181,Zimbabwe,2680,Infant food,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [12]:
fd_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [13]:
#Data cleaning starts
fd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [14]:
#Using the mean of each column to fill the NaN of that column
y = fd_data[['Y2014','Y2015','Y2016','Y2017','Y2018']].mean()
print(y)

fd_data[['Y2014','Y2015','Y2016','Y2017','Y2018']]=fd_data[['Y2014','Y2015','Y2016',
         'Y2017','Y2018']].fillna(value= y)

Y2014    134.196282
Y2015    135.235966
Y2016    136.555222
Y2017    140.917765
Y2018    143.758381
dtype: float64

In [15]:
fd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         60943 non-null  float64
 8   Y2015         60943 non-null  float64
 9   Y2016         60943 non-null  float64
 10  Y2017         60943 non-null  float64
 11  Y2018         60943 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [16]:
fd_data.isnull().count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           60943
Y2015           60943
Y2016           60943
Y2017           60943
Y2018           60943
dtype: int64

In [38]:
fd_data.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [20]:
print(fd_data.mean())

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [21]:
print(fd_data.std())

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1547.091098
Y2015           1582.908803
Y2016           1619.221316
Y2017           1651.075586
Y2018           1690.506585
dtype: float64

In [22]:
fd_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006086,0.005402,0.005183,0.004946,0.005600
Item Code,-0.005159,1.000000,-0.024683,0.021480,0.020630,0.019889,0.021274,0.021093
Element Code,-0.000209,-0.024683,1.000000,0.024159,0.023614,0.023180,0.023988,0.024023
Y2014,0.006086,0.021480,0.024159,1.000000,0.994570,0.995991,0.995131,0.994762
Y2015,0.005402,0.020630,0.023614,0.994570,1.000000,0.995658,0.987952,0.988107
Y2016,0.005183,0.019889,0.023180,0.995991,0.995658,1.000000,0.992703,0.992662
Y2017,0.004946,0.021274,0.023988,0.995131,0.987952,0.992703,1.000000,0.998021
Y2018,0.005600,0.021093,0.024023,0.994762,0.988107,0.992662,0.998021,1.000000

In [24]:
fd_data[['Y2014','Y2017','Element']].groupby('Element').sum()

                                               Y2014         Y2017
Element
Domestic supply quantity                2.003560e+06  2.093412e+06
Export Quantity                         2.497285e+05  2.870407e+05
Fat supply quantity (g/capita/day)      1.800894e+04  1.603147e+04
Feed                                    2.307501e+05  2.386430e+05
Food                                    1.218371e+06  1.262975e+06
Food supply (kcal/capita/day)           4.632482e+05  4.615860e+05
Food supply quantity (kg/capita/yr)     5.568946e+04  5.277666e+04
Import Quantity                         3.036677e+05  3.241518e+05
Losses                                  1.532230e+05  1.606140e+05
Other uses (non-food)                   8.811187e+04  1.075697e+05
Processing                              2.860095e+05  2.945270e+05
Production                              1.938132e+06  2.037385e+06
Protein supply quantity (g/capita/day)  1.988824e+04  1.790191e+04
Residuals                               3.699301e+04  4.071396e+04
Seed                                    2.192292e+04  2.543381e+04
Stock Variation                         5.901822e+04  5.445783e+04
Total Population - Both sexes           1.031585e+06  1.112641e+06
Tourist consumption                     4.160000e+02  9.100000e+01

In [28]:
fd_data.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()
## highest sum of import quantity goes to Y2017 and sum total numberof production in 2014 is 1938132

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,2.003560e+06,2.028255e+06,2.050988e+06,2.093412e+06,2.166799e+06
Export Quantity,2.497285e+05,2.521444e+05,2.543369e+05,2.870407e+05,2.904199e+05
Fat supply quantity (g/capita/day),1.800894e+04,1.686230e+04,1.597464e+04,1.603147e+04,1.543399e+04
Feed,2.307501e+05,2.442537e+05,2.431604e+05,2.386430e+05,2.470030e+05
Food,1.218371e+06,1.237771e+06,1.251255e+06,1.262975e+06,1.307867e+06
Food supply (kcal/capita/day),4.632482e+05,4.613619e+05,4.587743e+05,4.615860e+05,4.617301e+05
Food supply quantity (kg/capita/yr),5.568946e+04,5.475457e+04,5.321849e+04,5.277666e+04,5.308208e+04
Import Quantity,3.036677e+05,2.978523e+05,3.181270e+05,3.241518e+05,3.158862e+05
Losses,1.532230e+05,1.554390e+05,1.577870e+05,1.606140e+05,1.640458e+05
Other uses (non-food),8.811187e+04,7.504475e+04,8.294609e+04,1.075697e+05,1.023704e+05
Processing,2.860095e+05,2.899575e+05,2.825428e+05,2.945270e+05,3.094353e+05
Production,1.938132e+06,1.954187e+06,1.949409e+06,2.037385e+06,2.080104e+06
Protein supply quantity (g/capita/day),1.988824e+04,1.886622e+04,1.792468e+04,1.790191e+04,1.715262e+04
Residuals,3.699301e+04,3.680680e+04,4.336899e+04,4.071396e+04,4.047058e+04
Seed,2.192292e+04,2.438253e+04,2.379887e+04,2.543381e+04,2.583817e+04
Stock Variation,5.901822e+04,3.531670e+04,3.327668e+04,5.445783e+04,2.273429e+04
Total Population - Both sexes,1.031585e+06,1.058081e+06,1.085107e+06,1.112641e+06,1.140605e+06
Tourist consumption,4.160000e+02,3.490000e+02,8.900000e+01,9.100000e+01,9.000000e+01

In [37]:
print(fd_data[['Y2018','Element']].groupby('Element').sum().nsmallest(5,'Y2018'))#three lowest sum in 2018 is seed in the option

                                               Y2018
Element
Tourist consumption                        90.000000
Fat supply quantity (g/capita/day)      15433.991705
Protein supply quantity (g/capita/day)  17152.620086
Stock Variation                         22734.285710
Seed                                    25838.173523

In [63]:
#the total import quantity in Algeria

fd_data.groupby(['Element','Area'])['Y2018'].sum()

Element                   Area
Domestic supply quantity  Algeria                  90023.420000
                          Angola                   59733.978381
                          Benin                    31735.416761
                          Botswana                  3045.850000
                          Burkina Faso             25705.160000
                                                       ...
Tourist consumption       Cabo Verde                   7.000000
                          Egypt                       23.000000
                          Kenya                       17.000000
                          Mauritius                   31.000000
                          Sao Tome and Principe       12.000000
Name: Y2018, Length: 803, dtype: float64

In [29]:
print(fd_data.nunique())#number of Unique Countries in fd_data is 49

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4494
Y2015           4521
Y2016           4521
Y2017           4538
Y2018           4592
dtype: int64